<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">
	
	<!-- Fragment : Header -->
    <head th:replace="~{admin/admin-fragments::header}"></head>
    
    <body class="sb-nav-fixed">
    	
    	<!-- Fragment : Top Nav -->
        <nav th:replace="~{admin/admin-fragments::topNav}"></nav>
        
        <div id="layoutSidenav">
        
        	<!-- Fragment : Side Nav -->
            <div th:replace="~{admin/admin-fragments::sideNav}"></div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <!-- Dashboard Cards -->
                        <div class="row">
                           <div class="col-xl-3 col-md-6">
                               <div class="card bg-primary text-white mb-4">
                               	<div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
   											 <div><i class="fas fa-user me-1"></i>Users</div>
    										 <div><span th:text="${totalUsers}"></span></div>
										</div>        	
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/users}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                               <div class="card bg-danger text-white mb-4">
                               	<div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
   											 <div><i class="fas fa-sitemap me-1"></i>Categories</div>
    										 <div><span th:text="${totalCategories}"></span></div>
										</div>        	
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/categories}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
                                   			<div><i class="fas fa-boxes me-1"></i>Products</div>
                                   			<div><span th:text="${totalProducts}"></span></div>
                                   		</div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/products}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
                                    		<div><i class="fas fa-truck me-1"></i>Active Orders</div>
                                    		<div><span th:text="${totalActiveOrders}"></span></div>
                                    	</div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/orders}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dashboard Cards End -->
                        
                        <!-- Charts -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </main>
                
                <!-- Fragment : Footer -->
                <footer th:replace="~{admin/admin-fragments::footer}"></footer>
                
            </div>
        </div>
        
       <!-- Fragment : Scripts -->
       <div th:replace="~{admin/admin-fragments::scripts}"></div>
        
    </body>
</html>
