<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">
	
	<!-- Fragment : Header -->
    <head th:replace="~{admin/admin-fragments::header}"></head>
    
    <body class="sb-nav-fixed">
    	
    	<!-- Fragment : Top Nav -->
        <nav th:replace="~{admin/admin-fragments::topNav}"></nav>
        
        <div id="layoutSidenav">
        
        	<!-- Fragment : Side Nav -->
            <div th:replace="~{admin/admin-fragments::sideNav}"></div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Admin Dashboard</h1>
                        <!-- Dashboard Cards -->
                        <div class="row">
                           <div class="col-xl-3 col-md-6">
                               <div class="card bg-primary text-white mb-4">
                               	<div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
   											 <div><i class="fas fa-user me-1"></i>Users</div>
    										 <div><span th:text="${totalUsers}"></span></div>
										</div>        	
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/users}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                               <div class="card bg-danger text-white mb-4">
                               	<div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
   											 <div><i class="fas fa-sitemap me-1"></i>Categories</div>
    										 <div><span th:text="${totalCategories}"></span></div>
										</div>        	
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/categories}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
                                   			<div><i class="fas fa-boxes me-1"></i>Products</div>
                                   			<div><span th:text="${totalProducts}"></span></div>
                                   		</div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/products}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body fs-5">
                                    	<div class="d-flex justify-content-between">
                                    		<div><i class="fas fa-truck me-1"></i>Active Orders</div>
                                    		<div><span th:text="${totalActiveOrders}"></span></div>
                                    	</div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/admin/orders}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dashboard Cards End -->
                        
                        <!-- Charts -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Orders Sumarry
                                    </div>
                                    <div class="card-body">
                                    	<canvas id="barChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Active Orders Pie Chart
                                    </div>
                                    <div class="card-body">
                                    	<canvas id="pieChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </main>
                
                <!-- Fragment : Footer -->
                <footer th:replace="~{admin/admin-fragments::footer}"></footer>
                
            </div>
        </div>
        
       <!-- Fragment : Scripts -->
	<div th:replace="~{admin/admin-fragments::scripts}"></div>
	
	<!-- AREA CHART -->
	<script th:inline="javascript">
	
	</script>
	
	<!-- PIE CHART -->
	<script th:inline="javascript">
       	Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
       	Chart.defaults.global.defaultFontColor = '#292b2c';

       	var orderStatusCount = /*[[${orderStatusCount}]]*/ '';
       	var labels = orderStatusCount.map(item => item.orderStatus);
        var values = orderStatusCount.map(item => item.orderCount);

       	var ctx = document.getElementById("pieChart");
       	var myPieChart = new Chart(ctx, {
       		type: 'pie',
       		data: {
       		   labels: labels,
       		   datasets: [{
       		     data: values,
       		     backgroundColor: ['#ffc107', '#007bff', '#28a745', '#dc3545', '#17a2b8'],
       		    }],
       		  },
       		});
    </script>
    
    <!-- BAR CHART -->
	<script th:inline="javascript">
		 Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
		 Chart.defaults.global.defaultFontColor = '#292b2c';
		
		 var orderMonthCount = /*[[${orderMonthCount}]]*/ '';
		  	 	var labels = orderMonthCount.map(item => item.month);
		    	var values = orderMonthCount.map(item => item.orderCount);
		
		    	// Scale the maximum value in bar graph based on the highest order count
		  	 	const highestCount = orderMonthCount.reduce((max, obj) => (obj.orderCount > max ? obj.orderCount : max), -Infinity);
		 let max = 10;
		  		if (highestCount > 1000) {
		   max = 10000;
		  		} else if (highestCount > 100) {
		   max = 1000;
		  		} else if (highestCount > 10) {
		   max = 100;
		  		}
		
		 var ctx = document.getElementById("barChart");
		 var myLineChart = new Chart(ctx, {
		   type: 'bar',
		 data: {
		   labels: labels,
		 datasets: [{
		   label: "Orders",
		 backgroundColor: "rgba(2,117,216,1)",
		 borderColor: "rgba(2,117,216,1)",
		 data: values,
		       	}],
		     		},
		 options: {
		   scales: {
		   xAxes: [{
		   time: {
		   unit: 'month'
		           	},
		 gridLines: {
		   display: false
		           },
		 ticks: {
		   maxTicksLimit: 6
		           }
		         }],
		 yAxes: [{
		   ticks: {
		   min: 0,
		 max: max,
		 maxTicksLimit: 5
		           },
		 gridLines: {
		   display: true
		           }
		         }],
		       },
		 legend: {
		   display: false
		       }
		     }
		   });
	</script>

</body>
</html>
