<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Categories - Admin</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
	crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" th:href="@{/admin/dashboard}">Admin
			Dashboard</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
			id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..."
					aria-label="Search for..." aria-describedby="btnNavbarSearch" />
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
					class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end"
					aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Settings</a></li>
					<li><a class="dropdown-item" href="#!">Activity Log</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
				</ul></li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Data</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts1" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-user"></i>
							</div> User
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts1"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/users}"><i
									class="fas fa-table me-2"></i>Users</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts2" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-sitemap"></i>
							</div> Category
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts2"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/categories}"><i
									class="fas fa-table me-2"></i>Categories</a>
							</nav>
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/new-category}"><i
									class="fas fa-plus-square me-2"></i>Add Category</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts3" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-boxes"></i>
							</div> Product
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts3"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/products}"><i
									class="fas fa-table me-2"></i>Products</a>
							</nav>
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/new-product}"><i
									class="fas fa-plus-square me-2"></i>Add Product</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts4" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-truck"></i>
							</div> Order
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts4"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/orders}"><i
									class="fas fa-table me-2"></i>Orders</a>
							</nav>
						</div>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Logged in as:</div>
					<span>admin</span>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Categories</h1>
					<div class="alert alert-success p-1 text-center" th:if="${categoryUpdateSuccessful}">
						<strong>Success! </strong><span th:text="${categoryUpdateSuccessful}"></span>
					</div>
					<!-- Table -->
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i> Categories Table
						</div>
						<div class="card-body">
							<table id="datatablesSimple">
								<thead>
									<tr>
										<th>Name</th>
										<th class="d-none d-lg-table-cell">Activated</th>
										<th class="d-none d-lg-table-cell">Deleted</th>
										<th class="d-none d-md-table-cell">Created</th>
										<th class="d-none d-md-table-cell">Modified</th>
										<th>Action</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Name</th>
										<th class="d-none d-lg-table-cell">Activated</th>
										<th class="d-none d-lg-table-cell">Deleted</th>
										<th class="d-none d-md-table-cell">Created</th>
										<th class="d-none d-md-table-cell">Modified</th>
										<th>Action</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="c: ${categories}">
										<td th:text="${c.name}"></td>
										<td class="d-none d-lg-table-cell p-1">
											<div style="text-align: center">
												<span th:if="${c.isActivated}">
        											<i class="fas fa-check-circle text-success fs-4"></i>
    											</span>
    											<span th:if="${!c.isActivated}">
        											<i class="fas fa-times-circle text-danger fs-4"></i>
    											</span>
											</div>
										</td>
										<td class="d-none d-lg-table-cell p-1">
											<div style="text-align: center">
												<span th:if="${c.isDeleted}">
        											<i class="fas fa-check-circle text-success fs-4"></i>
    											</span>
    											<span th:if="${!c.isDeleted}">
        											<i class="fas fa-times-circle text-danger fs-4"></i>
    											</span>
    										</div>
										</td>
										<td><span th:text="${#temporals.format(c.created, 'MMMM dd, yyyy hh:mm a')}"></span></td>
										<td><span th:text="${#temporals.format(c.modified, 'MMMM dd, yyyy hh:mm a')}"></span></td>
										<!-- Actions -->
										<td class="d-flex">
											<div style="text-align: center">
	
												<span th:if="${!c.isActivated} and ${c.isDeleted}">
													<a th:href="@{/admin/categories/enable(id=${c.id})}"
														class="btn btn-success btn-sm"
														onclick="if (!(confirm('Are you sure you want to enable this category?'))) return false">
														Enable
													</a>
												</span>
												<span th:if="${c.isActivated} and ${!c.isDeleted}">
													<a th:href="@{/admin/categories/disable(id=${c.id})}"
														class="btn btn-danger btn-sm"
														onclick="if (!(confirm('Are you sure you want to disable this category?'))) return false">
														Disable
													</a>
												</span>
												
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							
							<a class="btn btn-primary btn-sm" th:href="@{/categories/new-category}">Add New Category</a>
							
						</div>
					</div>



				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; MRKEVR 2023</div>
						<div>
							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
								&amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/datatables-simple-demo.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>
