<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Fragment : Header -->
<head th:replace="~{admin/admin-fragments::header}"></head>

<body class="sb-nav-fixed">
	
	<!-- Fragment : Top Nav -->
	<nav th:replace="~{admin/admin-fragments::topNav}"></nav>
	
	<div id="layoutSidenav">
		
		<!-- Fragment : Side Nav -->
		<div th:replace="~{admin/admin-fragments::sideNav}"></div>
		
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid p-4">
					
					<!-- Breadcrumb -->
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/products}">Products</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/products/category/{category}(category=${product.category})}"><span th:text="${product.category}"></span></a></li>
						<li class="breadcrumb-item active"><span th:text="${product.name}"></span></li>
                  	</ol>
					
					<div class="row mt-4 justify-content-center">
						
						<!-- Alerts -->
						<div th:replace="~{admin/admin-fragments::alerts}"></div>
						
						<!-- Image -->
						<div class="col-xl-3">
							<div class="card mb-3">
								<img class="img-thumbnail" style="max-height:500px;" alt="" th:src="@{'data:image/jpeg;base64,' +${product.image}}" />
							</div>
						</div>
						<!-- Image End -->
					
						<!-- Product Info -->
						<div class="col-xl-5">
							<div class="col-12">
								<h3><span th:text="${product.name}"></span></h3>
							</div>
							<div class="card mb-3">
								<div class="card-header">
									<strong>Product Info</strong>
								</div>
								<div class="card-body">
									<div style="font-size: 1rem;">
  										<div data-toggle="tooltip" title="Current Quantity">
  											<i class="fas fa-boxes fa-fw text-primary me-1"></i>
  											<span class="text-end" th:text="${product.currentQuantity}"></span>
  										</div>
  										<div data-toggle="tooltip" title="Cost Price">
  											<i class="fas fa-tag fa-fw text-primary me-1"></i>
  											<span class="text-end" th:text="${product.costPrice}"></span>
  										</div>
  										<div data-toggle="tooltip" title="Sale Price">
  											<i class="fas fa-percentage fa-fw text-primary me-1"></i>
  											<span class="text-end" th:text="${product.salePrice}"></span>
  										</div>
  										<div data-toggle="tooltip" title="Created">
  											<i class="fas fa-user-plus fa-fw text-primary me-1"></i>
  											<span th:text="${#temporals.format(product.created, 'MMMM dd, yyyy hh:mm a')}"></span>
  										</div>
  										<div data-toggle="tooltip" title="Modified">
  											<i class="fas fa-user-edit fa-fw text-primary me-1"></i>
  											<span th:text="${#temporals.format(product.modified, 'MMMM dd, yyyy hh:mm a')}"></span>
  										</div>
  										<div data-toggle="tooltip" title="Activated">
  											<i class="fas fa-check-square fa-fw text-primary me-1"></i>
    										<span th:switch="${product.isActivated}">
  												<span th:case="${true}">Active</span>
  												<span th:case="*">Inactive</span>
											</span>
										</div>
										<div data-toggle="tooltip" title="On Sale">
  											<i class="fas fa-percentage fa-fw text-primary me-1"></i>
    										<span th:switch="${product.isOnSale}">
  												<span th:case="${true}">On Sale</span>
  												<span th:case="*">Not On Sale</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Product Info End -->
						
						<!-- Description -->
						<div class="col-xl-8">
							<div class="card mb-3">
								<div class="card-header">
									<strong>Product Description</strong>
								</div>
								<div class="card-body">
									<p th:text="${product.description}" style="white-space: pre-line"></p>
								</div>
							</div>
						</div>
						<!-- Description End -->
						
						<!-- Action Button Grouo -->
									<div class="btn-group" role="group" aria-label="Basic example" style="display: inline-block; text-align:center;">
												<!-- Activate / Deactivate -->
												<span th:if="${!product.isActivated} and ${product.isDeleted}">
													<a th:href="@{/admin/products/enable(id=${product.id})}"
														class="btn btn-success"
														onclick="if (!(confirm('Are you sure you want to enable this product?'))) return false">
														<i class="fas fa-power-off"></i>
														Activate
													</a>
												</span>
												<span th:if="${product.isActivated} and ${!product.isDeleted}">
													<a th:href="@{/admin/products/disable(id=${product.id})}"
														class="btn btn-danger"
														onclick="if (!(confirm('Are you sure you want to disable this product?'))) return false">
														<i class="fas fa-power-off"></i>
														Deactivate
													</a>
												</span>
											
												<!-- On Sale / Off Sale -->
												<span th:if="${!product.isOnSale}">
													<a th:href="@{/admin/products/turnOnSale(id=${product.id})}"
														class="btn btn-success"
														onclick="if (!(confirm('Are you sure you want to set this product on sale?'))) return false">
														<i class="fas fa-hand-holding-usd"></i>
														Put On Sale
													</a>
												</span>
												<span th:if="${product.isOnSale}">
													<a th:href="@{/admin/products/turnOffSale(id=${product.id})}"
														class="btn btn-danger"
														onclick="if (!(confirm('Are you sure you want to set this product off sale?'))) return false">
														<i class="fas fa-hand-holding-usd"></i>
														Remove Sale
													</a>
												</span>
												
												<!-- Edit -->
												<span>
													<a th:href="@{/admin/products/update(id=${product.id})}"
														class="btn btn-primary">
														<i class="fas fa-edit"></i>
														Update
													</a>
												</span>
												
											</div>
						
						
					</div>
				</div>
			</main>
			
			<!-- Fragment : Footer -->
			<footer th:replace="~{admin/admin-fragments::footer}"></footer>
			
		</div>
	</div>
	
	<!-- Fragment : Scripts -->
	<div th:replace="~{admin/admin-fragments::scripts}"></div>
	
</body>
</html>
