<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Fragment : Header -->
<head th:replace="~{admin/admin-fragments::header}"></head>

<body class="sb-nav-fixed">
	
	<!-- Fragment : Top Nav -->
	<nav th:replace="~{admin/admin-fragments::topNav}"></nav>
	
	<div id="layoutSidenav">
		
		<!-- Fragment : Side Nav -->
		<div th:replace="~{admin/admin-fragments::sideNav}"></div>
		
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Products</h1>
					
					<!-- Table -->
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i> Products Table
						</div>
						<div class="card-body">
							<table id="datatablesSimple">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Category</th>
										<th>Stock</th>
										<th>Price</th>
										<th>Sale Price</th>
										<th>Activated</th>
										<th>Deleted</th>
										<th>Action</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Category</th>
										<th>Stock</th>
										<th>Price</th>
										<th>Sale Price</th>
										<th>Activated</th>
										<th>Deleted</th>
										<th>Action</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="p: ${products}">
										<td th:text="${p.id}"></td>
										<td th:text="${p.name}"></td>
										<td th:text="${p.category}"></td>
										<td th:text="${p.currentQuantity}"></td>
										<td th:text="${p.costPrice}"></td>
										<td th:text="${p.salePrice}"></td>
										<td>
											<div style="text-align: center">
    											<div th:switch="${p.isActivated}">
  													<i th:case="${true}" class="fas fa-check-circle text-success fs-4"></i>
  													<i th:case="*" class="fas fa-times-circle text-danger fs-4"></i>
												</div>
											</div>
										</td>
										<td>
											<div style="text-align: center">
    											<div th:switch="${p.isDeleted}">
  													<i th:case="${true}" class="fas fa-check-circle text-success fs-4"></i>
  													<i th:case="*" class="fas fa-times-circle text-danger fs-4"></i>
												</div>
    										</div>
										</td>
										<td>Action</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			
			<!-- Fragment : Footer -->
			<footer th:replace="~{admin/admin-fragments::footer}"></footer>
			
		</div>
	</div>
	
	<!-- Fragment : Scripts -->
	<div th:replace="~{admin/admin-fragments::scripts}"></div>
	
</body>
</html>
