<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Fragment : Header -->
<head th:replace="~{admin/admin-fragments::header}"></head>

<body class="sb-nav-fixed">
	
	<!-- Fragment : Top Nav -->
	<nav th:replace="~{admin/admin-fragments::topNav}"></nav>
	
	<div id="layoutSidenav">
		
		<!-- Fragment : Side Nav -->
		<div th:replace="~{admin/admin-fragments::sideNav}"></div>
		
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid p-4">
				
					<!-- Breadcrumb -->
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/products}">Products</a></li>
						<li class="breadcrumb-item active"><span th:text="${category}"></span></li>
                  	</ol>
					
					<!-- Title -->
					<div class="d-flex justify-content-between mb-4">
						<h1><span th:text="${category}"></span></h1>
						<div>
							<a class="btn btn-primary" th:href="@{/admin/products/new-product}">Add New Product</a>
						</div>
					</div>
					
					<!-- Alerts -->
					<div th:replace="~{admin/admin-fragments::alerts}"></div>
					
					<!-- Table -->
					<div class="card mb-4">
						<!-- <div class="card-header">
							<i class="fas fa-table me-1"></i> Products Table
						</div> -->
						<div class="card-body">
							<!-- <table id="datatablesSimple" class="table table-sm"> -->
							<table id="dataTable" class="display compact" style="width:100%">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Image</th>
										<th>Stock</th>
										<th>Cost Price</th>
										<th>Sale Price</th>
										<th>Activated</th>
										<th>On Sale</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p: ${products}">
										<td th:text="${p.id}"></td>
										<td><a th:text="${p.name}" th:href="@{/admin/products/{id}(id=${p.id})}"></a></td>
										<td>
										
											<!-- Image : Button -->
											<div style="text-align: center">
												<a type="button" class="btn btn-primary btn-sm" 
													data-bs-toggle="modal"
													th:attr="data-bs-target='#'+'imageProductModal'+${p.id}">
													<i class="fas fa-eye"></i>
												</a> 
											</div>
											
											<!-- Image : Modal -->
											<div class="modal fade" th:attr="id='imageProductModal'+${p.id}"
												tabindex="-1" aria-labelledby="detailsModalLabel"
												aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5">
																<span th:text="'#'+${p.id}+' '+${p.name}"></span>
															</h1>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body m-auto">
															<img style="max-height:250px;" alt="" th:src="@{'data:image/jpeg;base64,' +${p.image}}" />
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-danger"
																data-bs-dismiss="modal">Close</button>
														</div>
													</div>
												</div>
											</div> 
											<!-- Image : End -->
										</td>
										<td><div style="text-align: right"><span th:text="${p.currentQuantity}"></span></div></td>
										<td>
											<div th:switch="${p.isOnSale}">
												<div th:case="${true}" style="text-align: right"><span th:text="${p.costPrice}" class="text-decoration-line-through"></span></div>
												<div th:case="*" style="text-align: right"><span th:text="${p.costPrice}"></span></div>
											</div>
										</td>
										<td><div style="text-align: right"><span th:text="${p.salePrice}"></span></div></td>
										<td>
											<div style="text-align: center">
    											<div th:switch="${p.isActivated}">
  													<i th:case="${true}" class="fas fa-check-circle text-success fs-4"></i>
  													<i th:case="*" class="fas fa-times-circle text-danger fs-4"></i>
												</div>
											</div>
										</td>
										<td>
											<div style="text-align: center">
    											<div th:switch="${p.isOnSale}">
  													<i th:case="${true}" class="fas fa-check-circle text-success fs-4"></i>
  													<i th:case="*" class="fas fa-times-circle text-danger fs-4"></i>
												</div>
    										</div>
										</td>
										<td>
											<!-- Action Button Grouo -->
											<div class="btn-group" role="group" aria-label="Basic example" style="display: inline-block; text-align:center;">
												<!-- Activate / Deactivate -->
												<span th:if="${!p.isActivated} and ${p.isDeleted}">
													<a th:href="@{/admin/products/enable(id=${p.id})}"
														class="btn btn-success btn-sm"
														onclick="if (!(confirm('Are you sure you want to enable this product?'))) return false"
														data-toggle="tooltip" title="Enable">
														<i class="fas fa-power-off"></i>
													</a>
												</span>
												<span th:if="${p.isActivated} and ${!p.isDeleted}">
													<a th:href="@{/admin/products/disable(id=${p.id})}"
														class="btn btn-danger btn-sm"
														onclick="if (!(confirm('Are you sure you want to disable this product?'))) return false"
														data-toggle="tooltip" title="Disable">
														<i class="fas fa-power-off"></i>
													</a>
												</span>
											
												<!-- On Sale / Off Sale -->
												<span th:if="${!p.isOnSale}">
													<a th:href="@{/admin/products/turnOnSale(id=${p.id})}"
														class="btn btn-success btn-sm"
														onclick="if (!(confirm('Are you sure you want to set this product on sale?'))) return false"
														data-toggle="tooltip" title="Enable Sale">
														<i class="fas fa-hand-holding-usd"></i>
													</a>
												</span>
												<span th:if="${p.isOnSale}">
													<a th:href="@{/admin/products/turnOffSale(id=${p.id})}"
														class="btn btn-danger btn-sm"
														onclick="if (!(confirm('Are you sure you want to set this product off sale?'))) return false"
														data-toggle="tooltip" title="Disabke Sake">
														<i class="fas fa-hand-holding-usd"></i>
													</a>
												</span>
												
												<!-- Edit -->
												<a th:href="@{/admin/products/update(id=${p.id})}"
													class="btn btn-primary btn-sm"
													data-toggle="tooltip" title="Update">
													<i class="fas fa-edit"></i>
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			
			<!-- Fragment : Footer -->
			<footer th:replace="~{admin/admin-fragments::footer}"></footer>
			
		</div>
	</div>
	
	<!-- Fragment : Scripts -->
	<div th:replace="~{admin/admin-fragments::scripts}"></div>
	
</body>
</html>
