<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Fragment : Header -->
<head th:replace="~{admin/admin-fragments::header}"></head>

<body class="sb-nav-fixed">
	
	<!-- Fragment : Top Nav -->
	<nav th:replace="~{admin/admin-fragments::topNav}"></nav>
	
	<div id="layoutSidenav">
		
		<!-- Fragment : Side Nav -->
		<div th:replace="~{admin/admin-fragments::sideNav}"></div>
		
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Users</h1>
					
					<!-- Table -->
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i> Users Table
						</div>
						<div class="card-body">
							<table id="datatablesSimple">
								<thead>
									<tr>
										<th>Username</th>
										<th>Name</th>
										<th class="d-none d-lg-table-cell">Email</th>
										<th class="d-none d-md-table-cell">Phone</th>
										<th class="d-none d-md-table-cell">Address</th>
										<th>Action</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Username</th>
										<th>Name</th>
										<th class="d-none d-lg-table-cell">Email</th>
										<th class="d-none d-md-table-cell">Phone</th>
										<th class="d-none d-md-table-cell">Address</th>
										<th>Action</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="u: ${users}">
										<td><a th:text="${u.username}" th:href="@{users/{id}(id=${u.id})}"></a></td>
										<td th:text="${u.firstName}+' '+${u.lastName}"></td>
										<td th:text="${u.email}" class="d-none d-lg-table-cell p-1"></td>
										<td th:text="${u.phone}" class="d-none d-md-table-cell p-1"></td>
										<td th:text="${u.address?.street}+' '+${u.address?.barangay}+' '+${u.address?.municipality}+' '+${u.address?.province}+' '+${u.address?.zipcode}" class="d-none d-md-table-cell"></td>
										
										
										
										<td class="d-flex">
											<div style="text-align: center">
	





												<!-- Delete -->
												<a th:href="@{/delete-user(id=${u.id})}"
													class="text-primary fs-6"
													onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
													<i class="fas fa-trash-alt"></i>
												</a>
												<!-- Delete : End -->
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			
			<!-- Fragment : Footer -->
			<footer th:replace="~{admin/admin-fragments::footer}"></footer>
			
		</div>
	</div>
	
	<!-- Fragment : Scripts -->
	<div th:replace="~{admin/admin-fragments::scripts}"></div>
	
</body>
</html>
