<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Head -->
<head th:replace="~{fragments::head}"></head>

<body class="bg-dark">
	<!-- Navigation-->
	<nav th:replace="~{fragments::nav}"></nav>

	<!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">  
            <div class="row gx-5">
            
                <div class="col-xl-8">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-body">
							<div class="text-center mb-5">
                				<h1 class="fw-bolder">Get in touch</h1>
                				<p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
            				</div>
							<!-- Form -->
							<form th:action="@{/process-contact}" th:object="${contactDto}" method="POST">
								<!-- Name -->
								<div class="form-floating mb-3" >
									<input class="form-control" th:field="*{name}" id="inputName" type="text" placeholder="Enter your name..." />
									<label for="inputName">Full name</label>
								</div>
								<!-- Email -->
								<div class="form-floating mb-3">
									<input class="form-control" th:field="*{email}" id="inputEmail" type="email" placeholder="name@example.com" /> 
									<label for="inputEmail">Email</label>
								</div>
								<!-- Phone -->
								<div class="form-floating mb-3">
									<input class="form-control" th:field="*{phone}" id="inputPhone" type="text" placeholder="(123) 456-7890" />
									<label for="phone">Phone number</label>
								</div>
								<!-- Message -->
								<div class="form-floating mb-3">
									<textarea class="form-control" th:field="*{message}" id="inputMmessage" placeholder="Enter your message here..." style="height: 10rem"></textarea>
									<label for="inputMessage">Message</label>
								</div>
								<!-- Submit success message-->
								<div class="d-none" id="submitSuccessMessage">
									<div class="text-center mb-3">
										<div class="fw-bolder">Form submission successful!</div>
									</div>
								</div>
								<!-- Submit error message-->
								<div class="d-none" id="submitErrorMessage">
									<div class="text-center text-danger mb-3">Error sending message!</div>
								</div>
								<!-- Submit Button-->
								<div class="d-grid">
									<button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
								</div>
							</form>
						</div>
					</div>
                </div>
                
                <!-- Media -->
                <div class="col-xl-4 mt-5 mt-xl-0">
                    <div class="card border-0 bg-light mt-xl-5">
                        <div class="card-body p-4 py-lg-5">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="h6 fw-bolder">Have more questions?</div>
                                    <p class="text-muted mb-4">
                                        Contact us at
                                        <br />
                                        <a href="#!">ecommerce@mrkevr.dev</a>
                                    </p>
                                    <div class="h6 fw-bolder">Follow us</div>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

	<!-- Footer-->
	<footer th:replace="~{fragments::footer_light}"></footer>

	<!-- Scripts -->
	<div th:replace="~{fragments::scripts}"></div>
	
</body>
</html>
