<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Head -->
<head th:replace="~{fragments::head}"></head>

<body>
	<!-- Navigation-->
	<nav th:replace="~{fragments::nav}"></nav>

	<!-- Header-->
   	<header class="bg-dark py-5">
	   <div class="container px-5">
	   		<div class="text-center text-white">
				<form class="d-flex px-5" role="search" th:action="@{/search}" method="GET">
      				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="inputSearch" th:name="search">
      				<button class="btn btn-outline-light" type="submit">Search</button>
    			</form>
    		</div>
	       	<div class="row gx-5 align-items-center justify-content-center">
	           <div class="col-lg-8 col-xl-7 col-xxl-6">
	               <div class="my-5 text-center text-xl-start">
	                   <h1 class="display-5 fw-bolder text-white mb-2">E-Commerce Web App</h1>
	                   <p class="lead fw-normal text-white-50 mb-4">This e-commerce web application was made using Spring Boot, MySQL, Bootstrap and Thymeleaf.</p>
	                   <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
	                       <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/products/categories}">Shop Now</a>
	                       <a th:if="${userDetails.username == ''}" class="btn btn-outline-light btn-lg px-4" th:href="@{/register}">Sign Up</a>
	                   </div>
	               </div>
	           </div>
	           <div class="col-lg-4 col-xl-5 col-xxl-6 d-none d-xl-block text-center">
	           		<img class="img-fluid rounded-3 my-5" th:src="@{/img/cart.jpg}" alt="..." />
	           	</div>
	       	</div>
	   </div>
	</header>
	
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				
				<!-- Random Products -->
				<th:block th:each="product : ${products}">
					<div class="col mb-5">
						<div class="card h-100 item-card">
							<!-- Sale badge-->
							<div th:if="${product.isOnSale}" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image-->
							<img class="card-img-top" th:src="@{'data:image/jpeg;base64,' +${product.image}}" alt="..."/>
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder"><span th:text="${product.name}"></span></h5>
									
									<!-- Product cost price-->
									<th:block th:switch="${product.isOnSale}">
										<span th:case="${true}" th:text="'₱'+${#numbers.formatDecimal(product.costPrice, 0, 'COMMA', 2, 'POINT')}" class="text-muted text-decoration-line-through"></span>
										<span th:case="*" th:text="'₱'+${#numbers.formatDecimal(product.costPrice, 0, 'COMMA', 2, 'POINT')}"></span>
									</th:block>
									<!-- Product sale price-->
									<span th:if="${product.isOnSale}" th:text="'₱'+${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 2, 'POINT')}"></span>
									
								</div>
							</div>	
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto stretched-link" th:href="@{products/{id}(id=${product.id})}">View Details</a>
								</div>
							</div>
						</div>
					</div>
				</th:block>

			</div>
		</div>
	</section>

	<!-- Footer-->
	<footer th:replace="~{fragments::footer_dark}"></footer>

	<!-- Scripts -->
	<div th:replace="~{fragments::scripts}"></div>
	
	

</body>
</html>
