<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Head -->
<head th:replace="~{fragments::head}"></head>

<body class="bg-dark">
	<!-- Navigation-->
	<nav th:replace="~{fragments::nav}"></nav>
	
	<!-- Header-->
   	<header th:replace="~{fragments::search_header}"></header>

	<!-- Page Content-->
    <section class="pt-1 pb-5">
        <div class="container px-5 mb-5">
        	
        	<nav th:replace="~{fragments::alerts2}"></nav>
        	
            <div class="row gx-5">
            	
            	<!-- Tabs Card -->
                <div class="col-xl-3 mt-5 mt-xl-0">
                    <div class="card border-0 bg-light mt-xl-5">
                    	<div class="card-header text-center my-2">
                    		<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  								<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  								<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
							</svg>
                    		<h3 th:text=${userDetails.username}></h3>
                    		<p class="text-muted" th:text="${userDetails.id}"></p>
                    	</div>
                        <div class="card-body p-2">
                            <div class="d-flex text-center justify-content-center">
                               <ul class = "nav flex-column">  
									<li class = "nav-item">  
									<a class = "nav-link text-dark" th:href="@{/profile}"> Profile </a>  
									</li>  
									<li class = "nav-item">  
									<a class = "nav-link text-dark" th:href="@{/cart}"> Cart </a>  
									</li>  
									<li class = "nav-item">  
									<a class = "nav-link disabled" th:href="@{/orders}"> Orders </a>  
									</li>
								</ul>  
                            </div>
                        </div>
                    </div>
                </div>
       			
       			<!-- Items -->
                <div class="col-xl-9">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-body">
						
							<section class="h-100 gradient-custom">
							
								<div class="container py-3">
									
									<div class="mb-3">
                						<h3 class="fw-bolder">Orders</h3>
            						</div>
									
									
									<div class="row d-flex justify-content-center my-4">
										<div class="col">
											<!-- Cart Items -->
											<div class="card mb-4">
							          			<div class="card-body">
							          			
							          				<!-- Empty Orders Message -->
							          				<div th:if="${#lists.isEmpty(orders)}" class="text-center py-5">
							          					<h3><i class="bi bi-bag-dash-fill fa-4x"></i></h3>
							          					<h3>You have no active orders.</h3>
							          					<a class="btn btn-outline-dark px-4 m-4" th:href="@{/cart}">Go to cart</a>
							          				</div>
							          				
							          				<th:block th:each="order, oStat : ${orders}">
											            <!-- Single Order -->
											            <div class="row">
											            	
											              	<!-- Data -->
											              	<div class="col-lg-9 mb-4 mb-lg-0">
												              	<p><strong><a th:href="@{/orders/{orderId}(orderId=${order.id})}" class="text-decoration-none"><span class="text-dark" th:text="${order.id}"></span></a></strong></p>
													           
													            <p>
													            	<th:block th:switch="${order.orderStatus}" class="text-center">
  																		<span th:case="${T(dev.mrkevr.ecommerce.entity.OrderStatus).PENDING}" class="badge rounded-pill text-bg-warning">PENDING</span>
  																		<span th:case="${T(dev.mrkevr.ecommerce.entity.OrderStatus).DENIED}" class="badge rounded-pill text-bg-danger">DENIED</span>
							  											<span th:case="${T(dev.mrkevr.ecommerce.entity.OrderStatus).CANCELLED}" class="badge rounded-pill text-bg-danger">CANCELLED</span>
							  											<span th:case="${T(dev.mrkevr.ecommerce.entity.OrderStatus).RETURNED}" class="badge rounded-pill text-bg-danger">RETURNED</span>
							  											<span th:case="${T(dev.mrkevr.ecommerce.entity.OrderStatus).COMPLETED}" class="badge rounded-pill text-bg-success">COMPLETED</span>
							  											<span th:case="*" class="badge rounded-pill text-bg-primary" th:text="${order.orderStatus}"></span>
																	</th:block>
													            </p>
													            
													            <p>Items: <span th:text="${order.totalItems}"></span></p>
													            <p>Order Date: <span th:text="${#temporals.format(order.orderDate, 'MMMM dd, yyyy')}"></span></p>
													            <p>Delivery Date: <span th:text="${#temporals.format(order.deliveryDate, 'MMMM dd, yyyy')}"></span></p>
													          	
													          	
													            <a th:if="${order.orderStatus == T(dev.mrkevr.ecommerce.entity.OrderStatus).PENDING}" th:href="@{/orders/cancel(orderId=${order.id})}"
																	class="btn btn-outline-dark btn-sm me-1 mb-2"
																	onclick="if (!(confirm('Are you sure you want to cancel this order?'))) return false"
																	data-toggle="tooltip" title="Cancel Order">
																	<i class="fa-solid fa-ban me-1"></i>
																	Cancel
																</a>
													            
								              				</div>
															<!-- Price -->
								              				<div class="col-lg-3 mb-4 mb-lg-0">
								              					<p class="text-end"><strong><span th:text="'₱'+${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 2, 'POINT')}"></span></strong></p>
								              				</div>
								                			<hr th:if="${!oStat.last}" class="my-4" />
								            			</div>
								            		</th:block>
							          			</div>
							        		</div>
							        		
							        		<!-- Accepted Paymend Method -->
									        <div class="card mb-4 mb-lg-0">
									          <div class="card-body">
									            <p><strong>We accept</strong></p>
									            <img class="me-2" width="45px"
									              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
									              alt="Visa" />
									            <img class="me-2" width="45px"
									              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
									              alt="American Express" />
									            <img class="me-2" width="45px"
									              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
									              alt="Mastercard" />
									            <img class="me-2" width="45px"
									              src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
									              alt="PayPal acceptance mark" />
									          </div>
									        </div>
							      		</div>
							      		
							      		
							      		
							      		
							      		
									</div>
							  </div>
							</section>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>

	<!-- Footer-->
	<footer th:replace="~{fragments::footer_light}"></footer>

	<!-- Scripts -->
	<div th:replace="~{fragments::scripts}"></div>
	
</body>
</html>
