<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Head -->
<head th:replace="~{fragments::head}"></head>

<body>
	<!-- Navigation-->
	<nav th:replace="~{fragments::nav}"></nav>

	<!-- Header-->
	<header th:replace="~{fragments::search_header}"></header>

	<!-- Product section-->
	<section class="pt-1 pb-5">
		<div class="container px-4 px-lg-5 mt-1 mb-5">
			
			<!-- Breadcrumb -->
			<ol class="breadcrumb mb-5">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/products/categories}">Products</a></li>
				<li class="breadcrumb-item"><a th:href="@{'/products?category=' + ${product.category}}"><span th:text="${product.category}"></span></a></li>
				<li class="breadcrumb-item active"><span th:text="${product.name}"></span></li>
         	</ol>
		
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6">
					<img class="card-img-top mb-5 mb-md-0" style="height: 60vh !important;" th:src="@{'data:image/jpeg;base64,' +${product.image}}" alt="..."/>
				</div>
				<div class="col-md-6">
					<div class="small mb-1"><span th:text="${product.id}"></span></div>
					<h1 class="display-5 fw-bolder" th:text="${product.name}"></h1>
					<div class="fs-5 mb-1">
						<!-- Product cost price-->
						<th:block th:switch="${product.isOnSale}">
							<span th:case="${true}" th:text="'₱'+${#numbers.formatDecimal(product.costPrice, 0, 'COMMA', 2, 'POINT')}" class="text-muted text-decoration-line-through"></span>
							<span th:case="*" th:text="'₱'+${#numbers.formatDecimal(product.costPrice, 0, 'COMMA', 2, 'POINT')}"></span>
						</th:block>
						<!-- Product sale price-->
						<span th:if="${product.isOnSale}" th:text="'₱'+${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 2, 'POINT')}"></span>
					</div>
					<div class="fs-7 mb-5">
						<span th:text="${product.currentQuantity} + ' units available'"></span>
					</div>
					<p class="lead" th:text="${product.description}" style="white-space: pre-line"></p>
					<div class="d-flex">
						<form class="d-flex px-5" th:action="@{/cart/add}" method="POST">
							<input type="hidden" th:name="productId" th:value="${product.id}">
							<input class="form-control text-center me-3" id="inputQuantity" th:name="quantity" type="number" value="1" th:min="1" th:max="${product.currentQuantity}" style="max-width: 5rem" onKeyDown="return false"/>
							<button type="submit" class="btn btn-outline-dark flex-shrink-0">
								<i class="bi-cart-fill me-1"></i> Add to Cart
							</button>
						</form>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<!-- Related items section-->
	<section class="py-5 bg-light">
		<div class="container px-4 px-lg-5 mt-5">
			<h2 class="fw-bolder mb-4">You might also like</h2>
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				
				<!-- Random Products -->
				<th:block th:each="p : ${relatedProducts}">
					<div class="col mb-5">
						<div class="card h-100 item-card">
							<!-- Sale badge-->
							<div th:if="${p.isOnSale}" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image-->
							<img class="card-img-top" th:src="@{'data:image/jpeg;base64,' +${p.image}}" alt="..."/>
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder"><span th:text="${p.name}"></span></h5>
									
									<!-- Product cost price-->
									<th:block th:switch="${p.isOnSale}">
										<span th:case="${true}" th:text="'₱'+${#numbers.formatDecimal(p.costPrice, 0, 'COMMA', 2, 'POINT')}" class="text-muted text-decoration-line-through"></span>
										<span th:case="*" th:text="'₱'+${#numbers.formatDecimal(p.costPrice, 0, 'COMMA', 2, 'POINT')}"></span>
									</th:block>
									<!-- Product sale price-->
									<span th:if="${p.isOnSale}" th:text="'₱'+${#numbers.formatDecimal(p.salePrice, 0, 'COMMA', 2, 'POINT')}"></span>
									
								</div>
							</div>	
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto stretched-link" th:href="@{/products/{id}(id=${p.id})}">View Details</a>
								</div>
							</div>
						</div>
					</div>
				</th:block>
				
				
			</div>
		</div>
	</section>

	<!-- Footer-->
	<footer th:replace="~{fragments::footer_dark}"></footer>

	<!-- Scripts -->
	<div th:replace="~{fragments::scripts}"></div>

</body>
</html>
