<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">

<!-- Head -->
<head th:replace="~{fragments::head}"></head>

<body class="bg-dark">
	<!-- Navigation-->
	<nav th:replace="~{fragments::nav}"></nav>
	
	<!-- Header-->
   	<header th:replace="~{fragments::search_header}"></header>

	<!-- Page Content-->
    <section class="pt-1 pb-5">
        <div class="container px-5 mb-5">
        	
        	<nav th:replace="~{fragments::alerts}"></nav>
        	
            <div class="row gx-5">
            	
            	<!-- Tabs Card -->
                <div class="col-xl-3 mt-5 mt-xl-0">
                    <div class="card border-0 bg-light mt-xl-5">
                    	<div class="card-header text-center my-2">
                    		<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  								<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  								<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
							</svg>
                    		<h3 th:text=${userProfileDto.username}></h3>
                    		<p class="text-muted" th:text="${userProfileDto.id}"></p>
                    	</div>
                        <div class="card-body p-2">
                            <div class="d-flex text-center justify-content-center">
                               <ul class = "nav flex-column">  
									<li class = "nav-item">  
									<a class = "nav-link disabled" th:href="@{/profile}"> Profile </a>  
									</li>  
									<li class = "nav-item">  
									<a class = "nav-link text-dark" th:href="@{/cart}"> Cart </a>  
									</li>  
									<li class = "nav-item">  
									<a class = "nav-link text-dark" th:href="@{/orders}"> Orders </a>  
									</li>
								</ul>  
                            </div>
                        </div>
                    </div>
                </div>
       			
       			<!-- Profile -->
                <div class="col-xl-8">
					<div class="card shadow-lg border-0 rounded-lg mt-5 p-3">
						<div class="card-body">
						
							<div class="mb-3">
                				<h3 class="fw-bolder">Profile</h3>
            				</div>
            				
							<form th:action="@{/profile}" th:object="${userProfileDto}" method="POST">
                              <div class="row mb-3">
                                  <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                          <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName" placeholder="" />
                                          <label for="inputFirstName">First name</label>
                                          <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger small p-1"></p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-floating">
                                      	<input type="text" th:field="*{lastName}" class="form-control" id="inputLastName" placeholder="" />
                                          <label for="inputLastName">Last name</label>
                                          <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger small p-1"></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-floating mb-3">
                                  <input class="form-control" id="inputEmail" type="email" th:field="*{email}" readonly="readonly"/>
                                  <label for="inputEmail">Email address</label>
                                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger small p-1"></p>
                              </div>
                              <!-- Address -->
                              <div class="row mb-3">
                                  <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                          <input type="text" th:field="*{address.street}" class="form-control" id="inputStreet" placeholder="" />
                                          <label for="inputStreet">Street</label>
                                          <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="alert alert-danger small p-1"></p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                          <input type="text" th:field="*{address.barangay}" class="form-control" id="inputBarangay" placeholder="" />
                                          <label for="inputBarangay">Barangay</label>
                                          <p th:if="${#fields.hasErrors('address.barangay')}" th:errors="*{address.barangay}" class="alert alert-danger small p-1"></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row mb-3">
                                  <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                          <input type="text" th:field="*{address.municipality}"  class="form-control" id="inputBumicipality" placeholder="" />
                                          <label for="inputBumicipality">Municipality</label>
                                          <p th:if="${#fields.hasErrors('address.municipality')}" th:errors="*{address.municipality}" class="alert alert-danger small p-1"></p>
                                   	</div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                          <input type="text" th:field="*{address.province}" class="form-control" id="inputProvince" placeholder="" />
                                          <label for="inputProvince">Province</label>
                                          <p th:if="${#fields.hasErrors('address.province')}" th:errors="*{address.province}" class="alert alert-danger small p-1"></p>
                                      </div>
                                  </div>
                              </div>
        						<div class="row mb-3">
                                  <div class="col-md-6">
                              		<div class="form-floating mb-3 mb-3 mb-md-0">
                              			<input type="text" th:field="*{address.zipcode}" class="form-control" id="inputZipcode"/>
                                  		<label for="inputZipcode">Zipcode</label>
                                 			<p th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}" class="alert alert-danger small p-1"></p>
                              		</div>
                           	   </div>
                           	   <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                      	<input class="form-control" id="inputPhone" type="text" th:field="*{phone}" />
                                  		<label for="inputPhone">Phone</label>
                                  		<p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-danger small p-1"></p>
                                      </div>
                                 </div>
                              </div>
                              <input type="hidden" th:name="id" th:value="*{id}"/>
                              <div class="mt-4 mb-0">
                                  <div class="d-grid">
                                 		<button type="submit" class="btn btn-primary btn-block">Update</button>
                                  </div>
                              </div>
                          </form>
							
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>

	<!-- Footer-->
	<footer th:replace="~{fragments::footer_light}"></footer>

	<!-- Scripts -->
	<div th:replace="~{fragments::scripts}"></div>
	
</body>
</html>
