<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register</title>
        <link href="css/admin-styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                         <form th:action="@{/register}" th:object="${registrationDto}" method="POST">
                                            <div class="form-floating mb-3">
                                                <input type="text" th:field="*{username}" class="form-control" id="inputUsername" placeholder="" />
                                                <label for="inputUsername">Username</label>
                                               	<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger small p-1"></p>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" th:field="*{email}" />
                                                <label for="inputEmail">Email address</label>
                                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger small p-1"></p>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName" placeholder="" />
                                                        <label for="inputFirstName">First name</label>
                                                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger small p-1"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                    	<input type="text" th:field="*{lastName}" class="form-control" id="inputLastName" placeholder="" />
                                                        <label for="inputLastName">Last name</label>
                                                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger small p-1"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Address -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input type="text" th:field="*{address.street}" class="form-control" id="inputStreet" placeholder="" />
                                                        <label for="inputStreet">Street</label>
                                                        <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="alert alert-danger small p-1"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input type="text" th:field="*{address.barangay}" class="form-control" id="inputBarangay" placeholder="" />
                                                        <label for="inputBarangay">Barangay</label>
                                                        <p th:if="${#fields.hasErrors('address.barangay')}" th:errors="*{address.barangay}" class="alert alert-danger small p-1"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input type="text" th:field="*{address.municipality}"  class="form-control" id="inputBumicipality" placeholder="" />
                                                        <label for="inputBumicipality">Municipality</label>
                                                        <p th:if="${#fields.hasErrors('address.municipality')}" th:errors="*{address.municipality}" class="alert alert-danger small p-1"></p>
                                                 	</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input type="text" th:field="*{address.province}" class="form-control" id="inputProvince" placeholder="" />
                                                        <label for="inputProvince">Province</label>
                                                        <p th:if="${#fields.hasErrors('address.province')}" th:errors="*{address.province}" class="alert alert-danger small p-1"></p>
                                                    </div>
                                                </div>
                                            </div>
                                      
                                             <div class="row mb-3">
                                                <div class="col-md-6">
                                            		<div class="form-floating mb-3 mb-3 mb-md-0">
                                            			<input type="text" th:field="*{address.zipcode}" class="form-control" id="inputZipcode"/>
                                                		<label for="inputZipcode">Zipcode</label>
                                               			<p th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}" class="alert alert-danger small p-1"></p>
                                            		</div>
                                         	   </div>
                                         	   <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                    	<input class="form-control" id="inputPhone" type="text" th:field="*{phone}" />
                                                		<label for="inputPhone">Phone</label>
                                                		<p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-danger small p-1"></p>
                                                    </div>
                                               </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" type="password" th:field="*{password}" />
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputConfirmPassword" type="password" th:field="*{confirmPassword}" />
                                                        <label for="confirmPassword">Confirm Password</label>
                                                    </div>
                                                </div>
                                                <div>
                                                	<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger small p-1"></p>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                               		<button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">Have an account? <a href="/" th:href="@{/login}">Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; MRKEVR 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/admin-scripts.js"></script>
    </body>
</html>
